<div class="col-md-4"></div>
<div class="col-md-4">
  <h1>Edit This Book, Yo</h1>
  <div class="well">
    <%= simple_form_for @book do |f| %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :genre %>
      <%= f.input :year %>
      <%= f.input :image_url %>
      <%= f.submit "Submit".html_safe, class: 'btn btn-lg btn-danger' %>
    <% end %>
  </div>
</div>
<div class="col-md-4"></div>
